body {
  background-image: url("https://images.unsplash.com/photo-1533090161767-e6ffed986c88?q=80&w=2369&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  color: #3498db;
}

.weather-app {
  background-color: #e4e4eb;

  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #3498db;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #f7dc6f;
}

.weather-app-details {
  font-size: 16px;
  color: #fbfcfc;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f7dc6f;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  border-radius: 10px;
  margin: 0px auto;
  padding: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
  color: #f1c40f;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: #f1c40f;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-icon {
  width: 70px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: #f65282;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
